<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
</head>
<body>
    <header>
    <h1>Login / Register</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" method="POST">
            <div class="form_div">
                <label for="email">Email:</label>
                <input class="field_class" name="email" type="email" placeholder="Enter your email" autofocus>
                <label for="password">Password:</label>
                <input id="pass" class="field_class" name="password" type="password" placeholder="Enter your password">
                <button class="submit_class" type="submit" form="login_form"">Enter</button>
            </div>
        </form>
    </main>
</body>
</html>